<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mymemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8A0ED9C2A95E8B9000D3871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A0EDB52A95E8BA000D3871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A0EDBF2A95E8BA000D3871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
